<header>
    <img class="logo-left" src="https://logos.textgiraffe.com/logos/logo-name/Comics-designstyle-comics-m.png" alt="comics">
    <div class="header-right">
        <img class="logo-right" src="https://img.icons8.com/?size=100&id=If0oJZmCGINJ&format=png&color=000000" alt="logo">
      <div class="header-buttons">
        <button >Sign-In</button>
        <button >Login</button>
        <a href="/home">a</a>
      </div>
      
    </div>
  </header>
  <div class="bottom">
    
  </div>
  