<header>
    
    <img class="logo-left" src="https://logos.textgiraffe.com/logos/logo-name/Comics-designstyle-comics-m.png" alt="comics">
    <div class="header-right">
      <div class="search-container">
        <img class="search-icon" src="https://img.icons8.com/?size=100&id=24020&format=png&color=000000" alt="">
        <input class="search-input" type="text" placeholder="Buscar">
      </div>
      
        <img class="logo-right" src="https://img.icons8.com/?size=100&id=If0oJZmCGINJ&format=png&color=000000" alt="logo">
         <img class="logo-right" src="https://img.icons8.com/?size=100&id=C8NM3l0T7WqA&format=png&color=000000" alt="user">
      
    </div>
  </header>
  <div class="bottom">
    
  </div>
  